<div class="wrapper">
  <p>Фильтр</p>
  <form [formGroup]="form" class="form-wrapper">

    <div class="form-control-wrapper">
     <label>Логин</label>
     <mat-form-field appearance="outline" hideRequiredMarker>
       <input matInput (keyup)="applyFilter($event)" formControlName="name" #valueName>
       <button mat-icon-button aria-label="Clear" (click)="valueName.value = ''">
         <mat-icon>{{'close'}}</mat-icon>
       </button>
       <mat-error *ngIf="!form.get('name')?.valid && form.get('name')?.dirty">
         Имя невалидно
       </mat-error>
    </mat-form-field>
   </div>

    <div class="form-control-wrapper">
      <label>Телефон</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <input matInput formControlName="phone" #valuePhone>
        <button mat-icon-button aria-label="Clear" (click)="valuePhone.value=''">
          <mat-icon>{{'close'}}</mat-icon>
        </button>
      <mat-error *ngIf="!form.get('phone')?.valid && form.get('phone')?.dirty">
        +7(999) 888-88-88
      </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Дата создания</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <input matInput [matDatepicker]="createdate" formControlName="create_at" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="createdate"></mat-datepicker-toggle>
        <mat-datepicker #createdate>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-error *ngIf="!form.get('create_at')?.valid && form.get('create_at')?.dirty">
          Дата невалидна
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>E-mail</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <input matInput formControlName="email" #valueEmail>
        <button mat-icon-button aria-label="Clear" (click)="valueEmail.value=''">
          <mat-icon>{{'close'}}</mat-icon>
        </button>
      <mat-error *ngIf="!form.get('email')?.valid && form.get('email')?.dirty">
        Недопустимые символы
      </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Роль</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-select formControlName="is_admin">
        <mat-option value="false">Пользователь</mat-option>
        <mat-option value="true">Администратор</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Дата изменения</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <input matInput
             [matDatepicker]="updatedate"
             formControlName="update_at"
             readonly>
        <mat-datepicker-toggle matIconSuffix [for]="updatedate"></mat-datepicker-toggle>
        <mat-datepicker #updatedate>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      <mat-error *ngIf="!form.get('update_at')?.valid && form.get('update_at')?.dirty">
        Дата невалидна
      </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Статус</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-select formControlName="status">
          <mat-option value="ACTIVE">Активен</mat-option>
          <mat-option value="BLOCKED">Заблокирован</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>

 <div class="buttons-wrapper">
   <button mat-raised-button (click)="apply()">Применить</button>
   <button mat-raised-button (click)="cancel()">Отмена</button>
   <button mat-raised-button (click)="reset()">Сбросить</button>
 </div>
</div>
