<div class="wrapper">
  <p>Фильтр</p>

  <form>
    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Телефон</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дата создания</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Статус</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Роль</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дата изменения</mat-label>
      <input matInput>
    </mat-form-field>
  </form>

  <button mat-raised-button>Применить</button>
  <button mat-raised-button>Отмена</button>
  <button mat-raised-button>Сбросить</button>
</div>
