<mat-list role="list" class="panel">
  <mat-list-item role="listitem">
    <span matListItemTitle>Суперагент</span>
    <span matListItemLine>Банк ВТБ(ПАО)</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon>suitcase</mat-icon>
    <span matListItemTitle>Управление</span>
    <span matListItemLine class="list">Карточка контрагента</span>
    <span matListItemLine class="list">Договоры контрагента</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <span matListItemTitle>Субагенты</span>
  </mat-list-item>
</mat-list>
