@media (max-width: 1024px) {

}

.wrapper {
  margin: 2rem;
}

.backArrow {
  &:before {
    content: '\003C';
    margin-right: 0.5rem;
    line-height: 1rem;
  }
}

.title-wrapper {
  margin: 1.5rem 0;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;

  button {
    background: #DA2032;
    color: #FFFFFF;
    margin-right: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
  }
}

.filter-wrapper {
  margin: 1.5rem 0;
  background: #FFFFFF;
}

.table-wrapper {
  margin: 1.5rem 0;
}

.red {
  background: #DA2032;
}

.gray {
  background: #666F78 !important;
}
