@media (max-width: 768px) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.wrapper {
  margin: 2rem;
}

.backArrow {
  &:before {
    content: '\003C';
    margin-right: 0.5rem;
    line-height: 1rem;
  }
}

.title-wrapper {
  margin: 1.5rem 0;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;

  button {
    background: var(--red);
    color: var(--white);
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    min-width: 8rem;
  }
}

.filter-wrapper {
  margin: 1.5rem 0;
  background: #FFFFFF;
}

.table-wrapper {
  margin: 1.5rem 0;
}

.red {
  background: #DA2032;
}

.gray {
  opacity: 0.70;
  background: #666F78 !important;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.30) inset;
  border-radius: 8px;
  color: #282828 !important;
}
