<div class="wrapper">
  <div>
    <a class="backArrow">Назад</a>
  </div>

  <div class="title-wrapper">
    <h2>Настройка учетных записей сотрудников контрагента</h2>
  </div>

  <div class="button-wrapper">
    <div>
      <button mat-raised-button>Добавить</button>
      <button mat-raised-button (click)="getForm()">Разблокировать</button>
      <button mat-raised-button (click)="saveForm()">Заблокировать</button>
    </div>
    <div>
      <button mat-raised-button [ngClass]="{'red' : !show, 'gray': show}" (click)="toggle()">Фильтр</button>
    </div>
  </div>

  <ng-container *ngIf="show">
    <div class="filter-wrapper">
      <app-form-filter
        [show]="show"
        (close)="toggle()"
        (formStorage)="setFormStorage($event)"
      ></app-form-filter>
    </div>
  </ng-container>

  <div class="table-wrapper">
    <app-table-data></app-table-data>
  </div>

</div>
