@media (max-width: 1024px) {
  .panel-wrapper {
    display: none;
  }

  .content-wrapper {
    display: none;
  }

  .main-wrapper {
    width: 100%;
  }
}

.content-wrapper {
  display: flex;
  height: fit-content;
  width: 100%;
}

.panel-wrapper {
  flex: 2;
  background-color: #666F78;
}

.main-wrapper {
  flex: 10;
  background-color: #F5F6F7;
}
