<div class="wrapper">
  <p>Фильтр</p>
  <form [formGroup]="form" class="form-wrapper">

    <div class="form-control-wrapper">
     <label>Логин</label>
     <mat-form-field appearance="outline" hideRequiredMarker>
       <input matInput (keyup)="applyFilter($event)" formControlName="name">
       <button mat-icon-button aria-label="Clear" (click)="form.get('name')?.reset()">
         <mat-icon>{{'close'}}</mat-icon>
       </button>
       <mat-error *ngIf="form.get('name')?.dirty">
         Имя невалидно
       </mat-error>
    </mat-form-field>
   </div>

    <div class="form-control-wrapper">
      <label>Телефон</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <input matInput formControlName="phone">
        <button mat-icon-button aria-label="Clear" (click)="form.get('phone')?.reset()">
          <mat-icon>{{'close'}}</mat-icon>
        </button>
      <mat-error *ngIf="form.get('phone')?.errors">
        +7(999) 888-88-88
      </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Дата создания</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <input matInput [matDatepicker]="createdate" formControlName="create_at" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="createdate"></mat-datepicker-toggle>
        <mat-datepicker #createdate>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>E-mail</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <input matInput formControlName="email">
        <button mat-icon-button aria-label="Clear" (click)="form.get('email')?.reset()">
          <mat-icon>{{'close'}}</mat-icon>
        </button>
      <mat-error *ngIf="form.get('email')?.errors">
        Недопустимые символы
      </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Роль</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-select formControlName="is_admin">
        <mat-option value="false">Пользователь</mat-option>
        <mat-option value="true">Администратор</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Дата изменения</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
      <input matInput
             [matDatepicker]="updatedate"
             formControlName="update_at"
             readonly>
        <mat-datepicker-toggle matIconSuffix [for]="updatedate"></mat-datepicker-toggle>
        <mat-datepicker #updatedate>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-control-wrapper">
      <label>Статус</label>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-select formControlName="status">
          <mat-option value="ACTIVE">Активен</mat-option>
          <mat-option value="BLOCKED">Заблокирован</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>

 <div class="buttons-wrapper">
   <button mat-raised-button (click)="apply()">Применить</button>
   <button mat-raised-button (click)="cancel()">Отмена</button>
   <button mat-raised-button (click)="reset()">Сбросить</button>
 </div>
</div>
