@media (min-width: 1025px) {
  table {
    th {
      color: #FFFFFF;
      background: var(--red);
    }
  }

  .paginator-wrapper {
    div {
      display: flex;
    }
  }
}

@media (max-width: 1024px) {
  .button-wrapper {
    display: flex;
    flex-direction: column;
  }

  .paginator-wrapper {
    div {
      display: block;
    }
  }
}

@media (max-width: 769px) {
  table {
    width: 100%;

    th {
      background-color: #FFFFFF;
      color: #282828;
    }
  }

  .table-wrapper {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .mobile-label {
    width: 50%;
    display: inline-block;
    font-weight: 700;
    line-height: 18px;
  }

  :host ::ng-deep .mat-mdc-header-row {
    display: none;
  }

  :host ::ng-deep .mat-mdc-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 24px;
  }
}

:host ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  background: #FFFFFF;
}

table {
  width: 100%;

  th {
    text-align: center;
    line-height: 18px;
  }

  td {
    color: #282828;
    text-align: -webkit-center;
  }
}

.login-header-wrapper {
  display: flex;
  position: relative;

  input[type='checkbox']{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    appearance:none;
    box-shadow: none;
    font-size: 1em;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border-radius: 4px;
    border: 1px #A2A9B1 solid;
  }

  div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 2.2rem;
  }
}

.checkbox {
  :host ::ng-deep .mat-mdc-checkbox .mdc-checkbox__background {
    background: aquamarine;
  }
}

.paginator-wrapper {
  padding: 1.5rem 0;
  background: #FFFFFF;
}

.count {
  padding-left: 1rem;
  color: var(--gray-darck);
  height: 3rem;
  line-height: 3.4rem;
}

.active {
  color: var(--green);
  font-weight: 300;
  line-height: 24px;
}

.blocked {
  color: var(--red-error);
  line-height: 18px;
}

.green-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--green);

  &::after {
    content: '\2713';
    color: #FAFAFA;
  }
}

.red-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--red-error);

  &::after {
    content: '\00D7';
    color: #FAFAFA;
  }
}

:host ::ng-deep .mat-mdc-paginator-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 4rem;
}

:host ::ng-deep .mat-mdc-icon-button {
  display: none;
}

:host ::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  width: 4rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

:host ::ng-deep .mat-mdc-paginator-page-size {

  .mat-mdc-form-field {
    display: contents;

    &::after {
      content: 'записей:';
    }
  }
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  background: #e0e0e0;
  opacity: 0.30;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
  width: 2.5rem;
  opacity: 0.30;
}

:host ::ng-deep .mat-mdc-select-trigger {
  width: 130%;
}

:host ::ng-deep .mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 0;
}
