<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let element"> . . . </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>
        <div class="login-header-wrapper">
          <mat-checkbox class="checkbox"
                        (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          <div>Логин</div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="login-header-wrapper">
          <mat-checkbox class="checkbox"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null"
                        [checked]="selection.isSelected(element)">
          </mat-checkbox>
          <div>{{element.name}}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Телефон </th>
      <td mat-cell *matCellDef="let element"> {{element.phone | phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Роли </th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{ element.is_admin == true ? 'Администратор' : 'Пользователь' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="updateData">
      <th mat-header-cell *matHeaderCellDef> Дата изменения </th>
      <td mat-cell *matCellDef="let element"> {{element.update_at | date: 'dd.MM.yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="createData">
      <th mat-header-cell *matHeaderCellDef> Дата создания </th>
      <td mat-cell *matCellDef="let element"> {{element.create_at | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Статус </th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]=" element.status == 'ACTIVE' ? 'active' : 'blocked'">
          {{ element.status == 'ACTIVE' ? 'Активен' : 'Заблокирован' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef> Наличие ЗП </th>
      <td mat-cell *matCellDef="let element">
        <div [ngClass]=" element.is_ecp ? 'green-circle' : 'red-circle'"></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>






<!--  <mat-table [dataSource]="dataSource">-->
<!--    <ng-container matColumnDef="action" class="table-wrapper">-->
<!--      <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        . . . </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="login">-->
<!--      <mat-header-cell *matHeaderCellDef>-->
<!--        <div class="login-header-wrapper">-->
<!--          <mat-checkbox class="checkbox"-->
<!--                        (change)="$event ? toggleAllRows() : null"-->
<!--                        [checked]="selection.hasValue() && isAllSelected()"-->
<!--                        [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--          </mat-checkbox>-->
<!--          <div>Логин</div>-->
<!--        </div>-->
<!--      </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <mat-checkbox class="checkbox"-->
<!--                      (click)="$event.stopPropagation()"-->
<!--                      (change)="$event ? selection.toggle(element) : null"-->
<!--                      [checked]="selection.isSelected(element)">-->
<!--        </mat-checkbox>-->
<!--        <div>{{element.name}}</div>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="email">-->
<!--      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        {{element.email}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="phone">-->
<!--      <mat-header-cell *matHeaderCellDef> Телефон </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        {{element.phone | phoneNumber}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="role">-->
<!--      <mat-header-cell *matHeaderCellDef> Роли </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span>-->
<!--          {{ element.is_admin == true ? 'Администратор' : 'Пользователь' }}-->
<!--        </span>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="updateData">-->
<!--      <mat-header-cell *matHeaderCellDef> Дата изменения </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        {{element.update_at | date: 'dd.MM.yyyy' }}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="createData">-->
<!--      <mat-header-cell *matHeaderCellDef> Дата создания </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        {{element.create_at | date: 'dd.MM.yyyy'}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="status">-->
<!--      <mat-header-cell *matHeaderCellDef> Статус </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span [ngClass]=" element.status == 'ACTIVE' ? 'active' : 'blocked'">-->
<!--          {{ element.status == 'ACTIVE' ? 'Активен' : 'Заблокирован' }}-->
<!--        </span>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="salary">-->
<!--      <mat-header-cell *matHeaderCellDef> Наличие ЗП </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <div [ngClass]=" element.is_ecp ? 'green-circle' : 'red-circle'"></div>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--  </mat-table>-->









<!--  <mat-table [dataSource]="dataSource">-->
<!--    <ng-container matColumnDef="action">-->
<!--      <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Действия</span>-->
<!--        . . . </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="login">-->
<!--      <mat-header-cell *matHeaderCellDef>-->
<!--        <div class="login-header-wrapper">-->
<!--          <mat-checkbox class="checkbox"-->
<!--                        (change)="$event ? toggleAllRows() : null"-->
<!--                        [checked]="selection.hasValue() && isAllSelected()"-->
<!--                        [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--          </mat-checkbox>-->
<!--          <div>Логин</div>-->
<!--        </div>-->
<!--      </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--          <span class="mobile-label">-->
<!--            <mat-checkbox class="checkbox"-->
<!--                          (change)="$event ? toggleAllRows() : null"-->
<!--                          [checked]="selection.hasValue() && isAllSelected()"-->
<!--                          [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--            </mat-checkbox>-->
<!--          <div>Логин</div>-->
<!--          </span>-->
<!--          <span>-->
<!--            <mat-checkbox class="checkbox"-->
<!--                          (click)="$event.stopPropagation()"-->
<!--                          (change)="$event ? selection.toggle(element) : null"-->
<!--                          [checked]="selection.isSelected(element)">-->
<!--            </mat-checkbox>-->
<!--            <div>{{element.name}}</div>-->
<!--          </span>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="email">-->
<!--      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">E-mail</span>-->
<!--        {{element.email}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="phone">-->
<!--      <mat-header-cell *matHeaderCellDef> Телефон </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Телефон</span>-->
<!--        {{element.phone | phoneNumber}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="role">-->
<!--      <mat-header-cell *matHeaderCellDef> Роли </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Роли</span>-->
<!--        <span>-->
<!--          {{ element.is_admin == true ? 'Администратор' : 'Пользователь' }}-->
<!--        </span>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="updateData">-->
<!--      <mat-header-cell *matHeaderCellDef> Дата изменения </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Дата изменения</span>-->
<!--        {{element.update_at | date: 'dd.MM.yyyy' }}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="createData">-->
<!--      <mat-header-cell *matHeaderCellDef> Дата создания </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Дата создания</span>-->
<!--        {{element.create_at | date: 'dd.MM.yyyy'}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="status">-->
<!--      <mat-header-cell *matHeaderCellDef> Статус </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Статус</span>-->
<!--        <span [ngClass]=" element.status == 'ACTIVE' ? 'active' : 'blocked'">-->
<!--          {{ element.status == 'ACTIVE' ? 'Активен' : 'Заблокирован' }}-->
<!--        </span>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="salary">-->
<!--      <mat-header-cell *matHeaderCellDef> Наличие ЗП </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--        <span class="mobile-label">Наличие ЗП</span>-->
<!--        <div [ngClass]=" element.is_ecp ? 'green-circle' : 'red-circle'"></div>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--  </mat-table>-->

  <div class="paginator-wrapper">
    <div>
      <mat-paginator
        [length]="100"
        [pageSize]="20"
        [pageSizeOptions]="[5, 10, 20, 100]"
        aria-label="Select page"
      ></mat-paginator>
      <div class="count">Колличество выбранных записей: {{ numberOfRecords }}</div>
    </div>
  </div>

</div>
